<mat-card>
        <mat-card-title>
          <div mat-card-avatar class="example-header-image">
          </div>
       Login to CenturyLink 
        
        </mat-card-title>
      
        <mat-card-content>
          <form [formGroup]="loginFormGroup" name="myForm">
            <mat-form-field class="full-width">
              <input matInput placeholder="Username"  formControlName="usernameCntrl" [errorStateMatcher]="matcher">
              <mat-error >
                Username is required
              </mat-error>
            </mat-form-field>
            
            
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" type="password"  formControlName="passwordCntrl"  [errorStateMatcher]="matcher">
              <mat-error >
                  Password is required
                </mat-error>
            </mat-form-field>

            <section class="example-section">
                <mat-checkbox class="example-margin">Remember me</mat-checkbox>
                <a id="A1" routerLink=" ">Forgot pwd?</a>
              </section>


          </form>
        </mat-card-content>


        <mat-card-actions>
          <button mat-raised-button  >Login</button> 
        </mat-card-actions>

        <mat-card-footer>
          <div class="S1">
            Don't have account <a id="A2" routerLink="">Register</a>
          </div>
        </mat-card-footer>
      </mat-card>