<mat-card>
        <mat-card-title>
          <div mat-card-avatar class="example-header-image">
          </div>
          Login to Century<b>Link</b> 
        
        </mat-card-title>

        <form [formGroup]="loginFormGroup" #loginForm="ngForm">
        <mat-card-content>
          
            <mat-form-field class="full-width">
              <input matInput placeholder="Username"  formControlName="usernameCntrl" [errorStateMatcher]="matcher">
              <mat-error >
                Username is required
              </mat-error>
            </mat-form-field>
            
            
            <mat-form-field class="full-width">
              <input matInput placeholder="Password" type="password"  formControlName="passwordCntrl"  [errorStateMatcher]="matcher">
              <mat-error >
                  Password is required
                </mat-error>
            </mat-form-field>

            <section class="example-section">
                <mat-checkbox class="example-margin">Remember me</mat-checkbox>
              </section>
            
        </mat-card-content>


        <mat-card-actions>
          <button mat-raised-button color="accent" [disabled]="loginForm.form.invalid">Login</button> 
        </mat-card-actions>
        
      </form>
      </mat-card>